.header-page {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    padding: 0 20px 0 10px; */
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    padding: 0 20px 0 10px;
    margin-bottom: 32px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

.header__branch, .header__left {
    display: flex;
    align-items: center;
}

.header__left .page-icon {
    padding-right: 20px;
}

.header__branch-name {
    font-size: 14px;
    font-family: 'Notosans-semibold';
    padding-right: 10px;
}

.header__branch, .header-page .page-icon, .header__user {
    cursor: pointer;
}

.header__right, .header__user {
    display: flex;
    align-items: center;
}

.header__icon-user {
    border-radius: 50%;
    margin: 0 5px 0 20px;
}

/* icon */
.header__icon-small-nav {
    background: url('../../images/Sprites.64af8f61.svg') no-repeat -847px -35px;
	width: 16px;
	height: 14px;
}

.header__icon-branch-work {
    background: url('../../images/Sprites.64af8f61.svg') no-repeat -1129px -365px;
	width: 14px;
	height: 8px;
}

.header__icon-notify {
    background: url('../../images/Sprites.64af8f61.svg') no-repeat -788px -30px;
	width: 22px;
	height: 25px;
}

.header__icon-user {
    background: url('../../images/Sprites.64af8f61.svg') no-repeat -352px -894px;
	width: 32px;
	height: 32px;
}

.header__icon-user-menu {
    background: url('../../images/Sprites.64af8f61.svg') no-repeat -1078px -38px;
	width: 9px;
	height: 6px;
}